body {
  background-image: url('/images/5449081.jpg');
  background-repeat: no-repeat;
  background-size: 108% 108%;
  color: #5d5d5d;
  margin: auto;
  max-width: 60%;
}

#game-name {
  font-family: 'Bangers', cursive;
  text-align: center;
  -webkit-text-stroke: 2px black;
  color: #f4eeeb;
  font-size: 70px;
  animation: pulse 5s, glow 15s infinite;
}

.content {
  margin: 110px 0px 0px 50px;
}

.screen-div {
  background-color: white;
  display: flex;
  margin: auto;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}

.player-div,
.comp-div {
  /* -- having issues -- */
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.icon-div {
  display: flex;
  margin: auto;
  padding-top: 30px;
  justify-content: space-evenly;
}

.score-div {
  text-align: center;
  margin: 30px;
}

.score {
  margin: 100px;
  color: black;
  font-size: 20px;
  font-family: 'VT323', monospace;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  box-shadow: 5px 5px 10px #ee5454;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

/*--------------------------------------------------------------*/

@keyframes pulse {
  0% {
    color: #4c69f6;
  }
  100% {
    color: #5d5d5d;
  }
}

@keyframes glow {
  50% {
    text-shadow: 10px 10px 10px #f28a2e;
  }
}

.container {
  max-width: 100%;
}

.btn {
  margin: 40px 10px 10px 380px;
  top: 0;
  left: 0;
  transition: all 0.15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: #262320; /*#ffe800;*/
  text-transform: uppercase;
  color: #f4eeeb;
  font-family: 'VT323', monospace;
  letter-spacing: 1px;
  box-shadow: -6px 6px 0 #404040;
  text-decoration: none;
}
.btn:hover {
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 #404040;
}
.btn:hover::after {
  top: 1px;
  left: -2px;
  width: 4px;
  height: 4px;
}
.btn:hover::before {
  bottom: -2px;
  right: 1px;
  width: 4px;
  height: 4px;
}
.btn::after {
  transition: all 0.15s linear 0s;
  content: '';
  position: absolute;
  top: 2px;
  left: -4px;
  width: 8px;
  height: 8px;
  background-color: #404040;
  transform: rotate(45deg);
  z-index: -1;
}
.btn::before {
  transition: all 0.15s linear 0s;
  content: '';
  position: absolute;
  bottom: -4px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: #404040;
  transform: rotate(45deg);
  z-index: -1;
}

a.btn {
  position: relative;
}

a:active.btn {
  top: 6px;
  left: -6px;
  box-shadow: none;
}
a:active.btn:before {
  bottom: 1px;
  right: 1px;
}
a:active.btn:after {
  top: 1px;
  left: 1px;
}
