body {
  background-color: #4c69f6;
  color: #5d5d5d;
  margin: auto;
  width: 50%;
}

p {
  font-family: 'Comic Neue', cursive;
}

#game-name {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: black;
  font-size: 50px;
  animation: pulse 5s, glow 15s infinite;
}

.screen-div {
  background-color: white;
  display: flex;
  margin: auto;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}

.player-div,
.comp-div {
  /* -- having issues -- */
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.icon-div {
  display: flex;
  margin: auto;
  padding-top: 30px;
  justify-content: space-evenly;
}

.score-div {
  text-align: center;
  margin: 30px;
}

.score {
  margin: 100px;
  color: black;
  font-size: 25px;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  box-shadow: 5px 5px 10px #ee5454;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

/*--------------------------------------------------------------*/

@keyframes pulse {
  0% {
    color: #4c69f6;
  }
  100% {
    color: #5d5d5d;
  }
}

@keyframes glow {
  50% {
    text-shadow: 5px 5px 10px #ffc510;
  }
}
